# Environment variables
.env

# Python
__pycache__/
*.pyc

# Django
*.log
db.sqlite3
media/

# Node / npm
node_modules/
package-lock.json
npm-debug.log

# Editor/OS files
.vscode/
.idea/
.DS_Store

# Static files build output
# If you have a different output directory for compiled static files, add it here.
# For example:
# static/dist/

# PyCharm files
.idea/
*.iws
*.iml
